* {

    margin: 0;
    padding: 0;

}



@font-face {
    font-family: 'Magical';
    src: url('../fonts/KaushanScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.banner {
    background: linear-gradient(rgba(0, 0, 0, .3), #009699), url("../img/banner.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.logo {
    width: 140px;
    position: absolute;
    top: 4%;
    left: 10%;
}



.banner-text {
    text-align: center;
    color: #222;
    padding-top: 180px;
}

.banner-text h1 {
    font-size: 130px;
    font-family: Magical;
}

.banner-text p {
    font-size: 20px;
    font-style: italic;
}

.banner-btn {
    margin: 70px auto 0;
}

.banner-btn a {
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 13px 3px;
    border-radius: 4px;
    color: #fff;
    border: .5px solid #fff;
    outline: .5px solid rgba(0, 0, 0, 12);
    position: relative;
    z-index: 1;
    transition: color .4s;
}



.banner-btn a span {
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #59ff75;
    z-index: -1;
    transition: all .5s;
}

.banner-btn a:hover span {
    width: 100%;
    background-color: #fff;
}

.banner-btn a:hover {
    color: #222;

}




#sideNav {
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background-color: #009699;
    z-index: 2;
    transition: all cubic-bezier(0.95, 0.05, 0.795, 0.035);
}


nav ul li {
    list-style-type: none;
    margin: 50px 20px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}



.menu-btn {

    width: 59px;
    height: 59px;
    background-color: #009699;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 5px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}

.menu-btn img {
    width: 20px;
    margin-top: 15px;


}



#fea {
    width: 100%;
    padding: 70px 0;
}

.title-text {
    text-align: center;
    padding-bottom: 70px;
}

.title-text p {
    margin: auto;
    font-size: 20px;
    color: #009699;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;

}

.title-text p::after {
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#019582, #fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(13deg);
    border-top-left-radius: 70px;
}





.title-text h1 {
    font-size: 50px;

}








@media screen and (max-width:770px) {
    .banner-text h1 {
        font-size: 44px;
    }

    .banner-btn a {
        display: block;
        margin: 20px auto;
    }
}









.fea-box {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    text-align: center;

}

.feac {
    flex-basis: 45%;
}


.feac-img {
    flex-basis: 55%;
    margin: auto;
}

.feac-img img {
    width: 70%;
    border-radius: 9999px;
}

.feac h1 {
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #009677;


}


.feac-desc {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}


.feac-icon {
    width: 70px;
    height: 30px;
    font-size: 30px;
    /* line-height: 10px; */
    border-radius: 8px;
    color: #009655;
}


.fea-text {
    padding: 0 20px;
    text-align: initial;
}



@media screen and (max-width:770px) {

    .title-text h1 {
        font-size: 35px;

    }

    .feac {
        flex-basis: 100%;
    }

    .feac-img {
        flex-basis: 100%;
    }


    .feac-img img {
        width: 100%;
    }




}

/* دقیقه 41:39 */




#service {
    width: 100%;
    padding: 70px 0;
    background-color: #efefef;
}

.service-box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}


.single-service {
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fffdff;
    position: relative;
}

.single-service img {
    width: 100%;
    border-radius: 7px;

}


.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),#009655);
    opacity: 0;
    transition: 1s;
}



.single-service:hover .overlay {
opacity: 1;
}




.service-desc {
    width: 80%;
    position: absolute;
    bottom: 0;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 1s ease-in-out;
}


hr {
     background-color: #fff;
     height: 2px;
     border: 0;
     margin: 15px auto;
     width: 60%;
}
.service-desc p{
    font-size: 14px;

}

.single-service:hover .service-desc {
    bottom: 40%;
    opacity: 1;
}






@media screen and (max-width:770px) {


    .single-service {
        flex-basis: 100%;
        margin-bottom: 30px;
    
    }
    .service-desc p {
        font-size: 12px;
    }

    hr {
        margin: 5px auto;
    }

    .single-service:hover .service-desc {
        bottom: 26% !important;
    }
    

}


#test {

width: 100%;
padding: 70px 0;




}


.test-row {
   width: 80%;
   margin: auto;
   display: flex; 
   justify-content: space-between;
   align-items:center;
   flex-wrap: wrap;
}





.test-col {
    flex-basis: 25%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #00965514;
    cursor: pointer;
    transition: transform .5s;

}

.test-col p {
    font-size: 14px;

}


.user {
    display: flex;
    align-items: center;
    margin: 25px 0;

}

.user img {
    width: 40px;
    margin-right: 20px;
    border-radius: 9999px;
}



.user-info .fa-twitter {
margin-left: 10px;
color: #27c0ff;
font-size: 20px;
}
.user-info .fa-instagram {
    margin-left: 10px;
    color: #f567c8;
    font-size: 20px;
    }
    .user-info .fa-whatsapp {
        margin-left: 10px;
        color: #67f797;
        font-size: 20px;
        }
.user-info small {
    color: #019582;
}



.test-col:hover {
    transform: translateY(-7px);
}





@media screen and (max-width:770px) {
.test-col {
    flex-basis: 100%;
    padding: 40px 40px;
}
}



#footer {
padding: 100px 0 20px;
background-color: #efefefef;
position: relative;
overflow: hidden;
}

.footer-row {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.footer-left , .footer-right {
flex-basis: 45%;
padding: 10px;
margin-bottom: 20px;
}

.footer-right {
    text-align: right;
}


.footer-row h1 {
    margin: 10px 0;

}

.footer-row p {
    line-height: 35px;
}


.footer-left .fa , .footer-right .fa {
font-size: 20px;
color: #009655;
margin: 10px;
}



.footer-img {
    margin: 150px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}

.social-links {
    text-align: center;

}
.social-links:hover {
    transform: translateY(10px);
background-color: red;    
}
.social-links .fa {
    height: 40px;
    width: 40px;
    font-size: 40px;
    line-height: 40px;
    border: 1px solid #009655;
    margin: 40px 5px 0;
    cursor: pointer;
    transition: .8s;
}



.social-links p {
    font-size: 12px;
    margin-top: 20px;

}
@media screen and (max-width:770px) {


    .footer-left , .footer-right{

        flex-basis: 100%;
        font-size: 14px;
    }
    .footer-img {
        top: 25%;

    }

}


.instagram {
    /* padding: 20px; */
    font-size: 30px;
    color: #f567c8;
}

.faceboock {
    /* padding: 20px; */
    font-size: 30px;
    color: #529aff;
}

.youtube {
    /* padding: 20px; */
    font-size: 30px;
    color: #f92323;
}
.pinterest {
    /* padding: 20px; */
    font-size: 30px;
    color: #ff5959;
}
.pinterest {
    /* padding: 20px; */
    font-size: 30px;
    color: #ff5959;
}
.whatsapp {
    font-size: 30px;
    color: #59ff75; 
}






